.content_box{
    width: 100%;
    height: 100vh;
    background-color:#f5f5f5; 
    display: flex;
    flex:1;
}

/*头部*/
.m_top {
    width: 100%;
    // height: 88px;
    position: absolute;
    top: 20px;
    left: 0px;
    display: flex;
    flex-direction: column;

     .rate_content{
        background: #ffffff;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: #ffffff;
        height: 88px;
        padding-left: 30px;
        padding-right: 27px;
          /*正点率tip*/
        .rateTip {
            font-size: 28px;
            color: #333333;
        }
       
        /*正点率*/
       .rateRight {
            font-size: 28px;
            color: #666666;
            display: flex;
            align-items: center;
            .arr_right{
              width:34px;
              height:34px;
              margin-left: 10px;
            }
        }
       }


      .content2{
        height: 80px;
        margin-top: 20px;
        
        // padding-right: 79px;
        display: flex;
        background: blue;
        // flex: 1;
        background-color: #ffffff;
        position: relative;
        padding-right: 40px;
        .wrap{
         
          display: flex;
          flex: 1;
          flex-direction: row;
          align-items:center;
          padding-left: 106px;

          .tip{
            font-size: 26px;
            color: #666666;
            width: 20%;
            height: 80px;
            line-height: 80px;
            text-align: center;
          }

          .tip:first-child{
            // background: blue;
            text-align: left;
          }

          .tip:last-child{
            text-align: right;
          }

          .line{
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            height: 2px;
            background: #e5e5e5;
          }
        }
       }


      .content2_noRate{
        margin-top: 0px;
      }
  }
  
  .m_station_content{
      position: absolute;
      top: 208px;
      bottom: 0px;
      left:0px;
      right:0px;
      // margin-top: 30px;
      // padding-top: 40px;
      margin-bottom: 188px;
      padding-bottom: 48px;
      background: #ffffff;
  }


  .m_station_content_noBottom{//底部无确定添加按钮时
    position: absolute;
    top: 208px;
    bottom: 0px;
    left:0px;
    right:0px;
    // margin-top: 58px;
    // padding-top: 40px;
    padding-bottom: 48px;
    background: #ffffff;
  }


  .m_station_content_noRate{
    top: 100px;
  }

  .line_all{
    position:absolute;
    top:80px;
    left:0px;
    bottom:36px;
    width: 106px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .line_all_selectFirstFrom{//起点为出发点
    top:50px;
  }

  .line_all_content{
    height:100%; 
    margin:0 auto; 
    border-left: 2px dashed #979797;
    min-width: 2px;
  }

.list{
  position: relative;
  width: 100%;
  margin: 0 auto;

  .list_content{
    // width: 100%;
    display: flex;
    flex-direction: column;
    align-items:center;
    padding-right: 40px;
    .th_content{
      position:relative;
      display: flex;
      flex-direction: column;
      width: 100%;
      

      .line_split{
        position: absolute;
        top:-2px;
        bottom: 0;
        height: 100%;
        width: 106px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        // background: orange;
  
        .line{
          height: 100%;
          // padding: 40px 0px;
          margin: 0 auto;
          min-width: 2px;
        }

        .line_large_h{//日期分组，线条高度
          margin: 0 auto;
          // padding-top: 86px;
        }

        .line_dash_gray{
          border-left: 2px dashed #979797;
        }

        .line_blue{
          border-left: 2px solid #0196ff;
        }
      }

      .section_date{
        position:absolute; 
        top:32px;
        left:54px;
        right:-40px;
        background-color: #f8f8f8;

        font-size: 24px;
        color: #666666;
        height: 48px;
        line-height: 48px;
        padding-left: 48px;
      }
    }
    
    .th{
      display: flex;
      flex-direction: row;
      width: 100%;
      padding-top: 40px;
      z-index: 11;
      .th_circle{
        // z-index: 999;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 106px;
        // height: 100%;
  
          .circle_content{
            display: flex;
            justify-content: center;
            align-content: center;
            align-items: center;
            position: relative;
            width: 26px;
            height: 26px;
            border-radius: 50%;
            // border: 4px solid #ffffff;
          }
  
          .circleImage_blue{
            border-radius: 50%;
            border: solid 4px #0196ff;
            background-color: #ffffff;
            width: 16px;
            height: 16px;
            color: #666666;
          }

          .circleImage_small_bg_gray{
          border-radius: 50%;
          border: solid 4px #c3c3c3;
          background-color: #c3c3c3;
          width: 16px;
          height: 16px;
        }
  
          .circleImage_middle_bgblue{//途径站点，实心小圆
            border-radius: 50%;
            border: solid 4px #0196ff;
            background-color: #0196ff;
            width: 16px;
            height: 16px;
            color: #666666;
          }
  
          .circleImage_gray{
            border-radius: 50%;
            border: solid 4px #c3c3c3;
            background-color: #ffffff;
            width: 16px;
            height: 16px;
            color: #666666;
          }
  
          .circle_content_large{
            border: solid 4px #0196ff;
            background-color: white;
            display: flex;
            justify-content: center;
            align-items: center;
            align-content: center;
            position: relative;
          }
  
          .circleImage_blue_large{
            position: absolute;
            left: 0px;
            right: 0px;
            top: 0px;
            bottom: 0px;
            border-radius: 50%;
  
            border: solid 4px white;
            background-color: #0196ff;
          //  z-index: 999;
          }
      }

      .th_right{
        // padding-right: 79px;
        display: flex;
        flex: 1;
        flex-direction: row;
        justify-content: space-between;
        align-items:center;

        position: relative;
      
        font-size: 26px;
        color: #999999;
        .tip{
          width: 20%;
          text-align: center;
        }
        .tip:first-child{
          // background: orange;
          text-align: left;
          }
        .tip:last-child{
          // background: blue;
          text-align: right;
          }
      }

      .th_right_select{
      font-family: 'PingFangSC-Medium';
      color: #333333;
      }

      .th_right_middele{
      font-family: 'PingFangSC-Regular';
      color: #333333;
      }

      .th_right_gray{
      font-family: 'PingFangSC-Regular';
      color: #999999;
      }
    }

    .th_large_h{
      display: flex;
      flex-direction: row;
      // height: 180px;
      margin-top: 70px;
      width: 100%;
    }
  }
}

  .m_bottom{
    width: 100%;
    height: 188px;
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0;
    background-color: #ffffff;
    box-shadow: 0px 0px 6px 4px  rgba(197, 197, 197, 0.2);
    display: flex;
    flex-direction: column;
    align-items: center;
    // justify-content: center;
    
    .tipWrap{
      display:flex;
      flex-direction:row;
      align-items:center;
      justify-content: center;
      margin-top: 20px;

      .tipImg{
        width:34px; 
        height:34px; 
        margin-right:18px;
      }

      .tipText{
        height: 32px;
        font-size: 28px;
        line-height: 32px;
        letter-spacing: 0px;
        color: #999999;
      }
    }

    .confirmAdd{
        position: absolute;
        left: 30px;
        right: 30px;
        bottom: 20px;
        height: 88px;

       .add{
        height: 88px;
        line-height: 88px;
        background-color: #0196ff;
        border-radius: 16px;
        font-family: 'PingFangSC-Medium';
        font-size: 34px;
        font-weight: normal;
        font-stretch: normal;
        letter-spacing: 0px;
        color: #ffffff;
        text-align: center;
       }
       .add_diable{
        opacity: 0.5;
       }
    }
}