.application {
  width: 750rpx;
  height: 100vh;
  /* background: yellowgreen; */
}
.application-back {
  width: 100%;
  position: absolute;
  z-index: -1;
}
.top-text {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 94rpx;
  padding-bottom: 32rpx;
  font-size: 36rpx;
  color: #FFFFFF;

}
.application-success {
  width: 62rpx;
  height: 62rpx;
  margin-right: 30rpx;
}
.cust-text {
  width: 750rpx;
  display: flex;
  justify-content: center;
  font-size: 28rpx;
  color: #FFFFFF;
}
.application-qrcode {
  width: 750rpx;
  margin-top: 72rpx;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.qrcode-box {
  width: 380rpx;
  height: 380rpx;
  border-radius: 10rpx;
  background: #FFFEFF;
  box-shadow: 0px 2px 4px 2px rgba(0, 0, 0, 0.08);
  display: flex;
  align-items: center;
  justify-content: center;
}
.qrcode {
  width: 340rpx;
  height: 340rpx;
}
.cust-box {
  margin-top: 52rpx;
  font-size: 28rpx;
  color: #333333;
}
.cust-name {
  margin-left: 18rpx;
  margin-right: 18rpx;
  color: #000000;
  font-weight: bold;
}
.cust-copy {
  color: #F23030;
  text-decoration: underline;
}
/* 按钮部分 */
.third-party-btn {
  width: 100%;
  display: flex;
  justify-content: center;
  /* padding-bottom: 100rpx; */
  padding-top: 88rpx;
}

button::after {
  border: none;
}

button {
  background-color: #fff;
}

button {
  border-radius: 0;
}
button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.customer-cancel {
  font-size: 30rpx;
  color: #f13e3a;
  border-radius: 40rpx;
  width: 241rpx;
  height: 77rpx;
  border: 1px solid #f13e3a;
  margin-right: 24rpx;
}
.customer-sure {
  margin-left: 24rpx;
  font-size: 30rpx;
  color: #fff;
  border-radius: 40rpx;
  background: #f13e3a;
  width: 241rpx;
  height: 77rpx;
  border: 1px solid #f13e3a;
}