/* pages/bindphone/bindphone.wxss */
.bind-phone {
  width: 750rpx;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.get-phone {
  margin-top: 105rpx;
}
.other-phone {
  margin-top: 81rpx;
}
button[plain]
{ border:0;
  padding: 0;
  height: 90rpx;
  width: 650rpx;
  margin: 0 auto;
  border-radius:45rpx;
}
.phone-box {
  display: flex;
  width: 650rpx;
  height: 90rpx;
  background:linear-gradient(90deg,rgba(93,202,111,1),rgba(54,173,73,1));
  box-shadow:0rpx 5rpx 15rpx 0rpx rgba(8,151,31,0.3);
  border-radius:45rpx;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  font-size: 30rpx;
}
.other-box {
  display: flex;
  width: 650rpx;
  height: 90rpx;
  background:linear-gradient(90deg,rgba(224,108,55,1),rgba(222,60,67,1));
  box-shadow:0px 5px 15px 0px rgba(176,36,30,0.3);
  border-radius:45rpx;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  font-size: 30rpx;
}
.wxchat {
  width: 44rpx;
  height: 36rpx;
  margin-right: 29rpx;
}
.tips {
  font-size: 24rpx;
  color: #666666;
  margin-top: 40rpx;
}