.cart-bar {
  box-sizing: border-box;
  .cart-btn-container {
    display: flex;
    justify-content: space-between;
    height: 98px;
    line-height: 98px;
    box-shadow: 0 1px 5px #e7e7e7;
    .content {
      flex: 1 1 auto;
      padding: 21px 30px;
      .cart-icon-container {
        display: inline-block;
        position: relative;
        margin-right: 40px;
        height: 58px;
        line-height: 56px;
        & > image {
          width: 58px;
          height: 56px;
        }
        .num {
          position: absolute;
          top: -10px;
          right: -10px;
          width: 30px;
          height: 30px;
          line-height: 30px;
          text-align: center;
          border-radius: 50%;
          color: #fff;
          font-size: 20px;
          background-color: #f95132;
          &.show {
            display: block;
          }
        }
      }
      .price {
        display: inline-block;
        height: 56px;
        line-height: 56px;
        font-size: 30px;
        color: #333;
        font-weight: bold;
        vertical-align: super;
        & > text {
          font-size: 44px;
        }
        .discount {
          font-size: 24px;
          color: #f95132;
          font-weight: normal;
        }
      }
    }
    .btn {
      flex: 0 1 220px;
      margin: 0;
      height: 98px;
      line-height: 98px;
      background-color: #27a3ff;
      font-size: 30px;
      color: #fff;
      border-radius: 0;
      &::after {
        border: none;
      }
    }
  }
}
