/* pages/guide/guide.wxss */
.guide {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.customer-sure {
  height: 80rpx;
  background: #00cc64;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
}