
page{
  height: 100%;
  background: #f8f8f8;
}
.add{min-height: 100%;}
.addBgc{
  width: 100%;
  height: 163rpx;
  background:linear-gradient(0deg,rgba(56,164,255,1) 0%,rgba(1,150,255,1) 100%);
}
.contentbox{
  padding: 0 30px;
  margin-top: -88rpx;
  width: 100%;
  box-sizing: border-box;
}
.checkCol{
  width: 100%;
  height: 88rpx;
  box-sizing: border-box;
  display: flex;
  .ci{
    width: 50%;
    font-size: 32rpx;
    line-height: 88rpx;
    background:rgba(248,248,248,1);
    border-radius:8rpx 8rpx 0px 0px;
    color:rgba(153,153,153,1);
    text-align: center;
  }
  .cur{
    background:rgba(255,255,255,1);
    border-radius:8rpx 8rpx 0px 0px;
    font-weight:bold;
    color:rgba(1,150,255,1);
  }
  .cur.right{
    background:rgba(255,255,255,1);
    border-radius:8rpx 8rpx 0px 0px;
    font-weight:bold;
    color:rgba(1,150,255,1);
  }
}
.trainQuery{
  background: #ffffff;
  overflow: hidden;
  .trainNo{
    margin: 50rpx 30rpx 50rpx;
    border-bottom: 1px solid #efefef;
    display: flex;
    justify-content: space-between;
    .leftBox{
      display: flex;
      flex: 1;
      flex-direction: column;
      .textC{
        font-size:28px;
        font-family:PingFang SC;
        font-weight:400;
        color:rgba(51,51,51,1);
      }
      .inputCol{
        font-size: 36rpx;
        color:rgba(187,187,187,1);
        margin-top: 29rpx;
        padding-bottom: 50rpx;
        height: 48rpx;
        line-height: 48rpx;
      }
    }
    .rightBox{
      display: flex;
      flex-direction: column;
      align-items: center;
      .scanbgc{
        width: 80px;
        height: 80px;
        position: relative;
        .scanImg{
         width: 100%;
         height: 100%;
        }
      }
      
      .scanText{
        font-size: 24rpx;
        color:rgba(153,153,153,1);
        margin-top: 9rpx;
      }
    }
  }
  .goDate{
    margin: 0 30rpx;
    .textD{
      font-size:28rpx;
      font-family:PingFang SC;
      font-weight:400;
      color:rgba(51,51,51,1);
    }
    .dateCol{
      display: flex;
      font-size: 36rpx;
      margin-top: 29rpx;
      height: 56rpx;
      line-height: 56rpx;
      padding-bottom: 50rpx;
      border-bottom: 2rpx solid #f0f0f0;
      .goDay{
        margin-right: 32rpx;
      }
      .goWeek{
        margin-right: 32rpx;
      }
      .toDay{
        color: #0196ff;
      }
    }
    .history{
      width: 100%;
      position: relative;
      padding: 22rpx 110rpx 22rpx 0;
      box-sizing: border-box;
      white-space: nowrap;
        .allC{
          color: #aebac3;
          font-size: 28rpx;
          position: absolute;
          top: 22rpx;
          right: 0;
          height: 64rpx;
          line-height: 64rpx;
          text-align: center;
          border-left: 1px solid #e5e5e5;
          padding-left: 10rpx;
        }
        .hisC{
          display: inline-block;
          font-size: 28rpx;
          //width: 164rpx;
          padding: 0 10rpx;
          height: 64rpx;
          background: #f8f8f8;
          color: #999999;
          border-radius: 8rpx;
          line-height: 64rpx;
          text-align: center;
          margin-right: 32rpx;
          margin-bottom: 32rpx;
        }
    }
  }
}

.stationQuery{
  background: #ffffff;
  overflow: hidden;
  .cityCol{
    display: flex;
    justify-content: space-between;
    margin: 50rpx 30rpx 50rpx;
    padding-bottom: 45rpx;
    border-bottom: 1px solid #efefef;
    .start{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      .text{
        font-size:28px;
        font-family:PingFang SC;
        font-weight:400;
        color:rgba(51,51,51,1);
        margin-bottom: 28rpx;
      }
      .cityName{
        color:rgba(51,51,51,1);
        font-size:36rpx;
        //height:66rpx;
        font-weight:600;
        //line-height:66rpx;
      }
    }
    .switchImg{
      width: 80rpx;
      height: 80rpx;
    }
    .end{
      .text{
        font-size:28px;
        font-family:PingFang SC;
        font-weight:400;
        color:rgba(51,51,51,1);
      }
      .cityName{
        color:rgba(51,51,51,1);
        font-size:36rpx;
        //height:66rpx;
        font-weight:600;
        //line-height:66rpx;
        margin-top: 29rpx;
      }
    }
  }
  .goDate{
    margin: 0 30rpx;
    .textD{
      font-size:28rpx;
      font-family:PingFang SC;
      font-weight:400;
      color:rgba(51,51,51,1);
    }
    .dateCol{
      display: flex;
      font-size: 36rpx;
      margin-top: 29rpx;
      height: 56rpx;
      line-height: 56rpx;
      padding-bottom: 50rpx;
      border-bottom: 2rpx solid #f0f0f0;
      .goDay{
        margin-right: 32rpx;
      }
      .goWeek{
        margin-right: 32rpx;
      }
      .toDay{
        color: #0196ff;
      }
    }
    .history{
      width: 100%;
      position: relative;
      padding: 22rpx 110rpx 22rpx 0;
      box-sizing: border-box;
      white-space: nowrap;
        .allC{
          color: #aebac3;
          font-size: 28rpx;
          position: absolute;
          top: 22rpx;
          right: 0;
          height: 64rpx;
          line-height: 64rpx;
          text-align: center;
          border-left: 1px solid #e5e5e5;
          padding-left: 10rpx;
        }
        .hisZ{
          display: inline-block;
          font-size: 28rpx;
          //width: 164rpx;
          padding: 0 10rpx;
          height: 64rpx;
          background: #f8f8f8;
          color: #999999;
          border-radius: 8rpx;
          line-height: 64rpx;
          text-align: center;
          margin-right: 32rpx;
          margin-bottom: 32rpx;
        }
    }
  }
}

.sureBox{
  // position: fixed;
  // bottom: 0;
  // left: 0;
  width: 100%;
  padding:60rpx 45rpx 24rpx 45rpx;
  box-sizing: border-box; 
  background: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  .sure{
    width: 100%;
    height:80rpx;
    background:rgba(1,150,255,1);
    border-radius:4rpx;
    line-height: 80rpx;
    font-family: 'PingFangSC-Medium';
    font-size: 34rpx;
    text-align: center;
    color: #ffffff;
  }
}

.sureBox_keyboard{
  z-index: 110;
  bottom: 430px;
}
.reigsterInfo{
  font-size:28rpx;
  font-family:PingFang SC;
  font-weight:400;
  color:rgba(1,150,255,1);
  text-align: center;
  padding: 40rpx 0 50rpx 0;
  box-sizing: border-box;
  background: #fff;
  border-radius: 0 0 8rpx 8rpx;
}

.animation::after {
  content:'';
  display: inline-block;
  width:1rpx;
  height:48rpx;  
  position: relative;
  top: 6rpx;
  left: 4rpx;
  animation: blink 1s infinite steps(1, start);
}
@keyframes blink {
0%{
  background-color: #efefef;
}
50% {
  background-color: black;
}
100% {
  background-color: #efefef;
}
}

.activityBanner {
  width: 100%;
  height: 189px;
  position: relative;
  margin: 30px 0px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;

  .authcover{
    // position:absolute;
    // width:100%;
    // height:100%;
    // z-index:1;
  }
  
  .swiperBox1 {
    width: 100%;
    height: 100%;
    border-radius: 16rpx;
    text-align: center;

    .bannerImg {
      width: 690px;
      height: 100%;
      border-radius: 16rpx;
      margin: 0 auto;
    }
  }
  .dots {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 10px;
    display: flex;
    justify-content: center;

    .dot {
      margin: 0 6px;
      width: 10px;
      height: 10px;
      border-radius: 50%;
      background: rgba(505,255,255,.6);
      transition: all .6s;
    }

    .active {
      background: rgba(255,255,255,1);
      width: 20px;
      border-radius: 26%;
    }      
  }
}
.toSync{
  width: 690rpx;
  margin: 34rpx 30rpx 0 30rpx;
  height: 160rpx;
}