.customer-body {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* background-color: yellowgreen; */
}
.new-onlineservice {
  padding: 0 60rpx;
  display: flex;
  height: 930rpx;
  flex-direction: column;
  font-size: 28rpx;
  color: #999999;
}

.first-step {
  margin-top: 136rpx;
  width: 100%;
  display: flex;
}
.f-text {
  margin-left: 42rpx
}
.s-text {
  margin-right: 42rpx;
  text-align: right;
}
.second-step {
  margin-top: 90rpx;
  width: 100%;
  display: flex;
}
.f-step-img {
  width: 251rpx;
}
.s-step-img {
  width: 266rpx;
}
.step-title {
  font-size: 36rpx;
  color: #000000;
  margin: 20rpx 0;
}
.title-num {
  font-size: 48rpx;
  color: #000000;
  margin: 0 15rpx;
  font-style:italic;
  font-weight:bold;
}

.customer-title {
  text-align: center;
  margin-top: 177rpx;
  font-size: 36rpx;
  line-height: 60rpx;
  color: #666;
  font-weight: 400;
}
.customer-content {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 841rpx;
}
image {
  width: 750rpx;
  height: 841rpx;
}
.customer-btn {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 100rpx;
  margin-top: 66rpx;
}

button::after {
  border: none;
}

button {
  background-color: #fff;
}

button {
  border-radius: 0;
}

button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.customer-cancel {
  font-size: 28rpx;
  color: #f13e3a;
  border-radius: 10rpx;
  width: 275rpx;
  height: 89rpx;
  border: 1px solid #f13e3a;
  margin-right: 15rpx;
}

.customer-sure {
  margin-left: 15rpx;
  font-size: 28rpx;
  color: #fff;
  border-radius: 10rpx;
  background: #f13e3a;
  width: 275rpx;
  height: 89rpx;
  border: 1px solid #f13e3a;
}
