/* page/mine/pages/calendar/calendar.wxss */
.headdate{
    height: 88rpx;
    background-color: white;
    flex:1;
    text-align: center;
    line-height: 88rpx;
    font-size: 30rpx;
  }
  .headbox{
    display: flex;
    display: -webkit-flex;
    border-bottom: 1rpx solid #e6e6e6;
    border-top: 1rpx solid #e6e6e6;
  }
  .headbox2{
    display: flex;
    position: fixed;
    width: 100%;
    display: -webkit-flex;
    border-bottom: 1rpx solid #e6e6e6;
    border-top: 1rpx solid #e6e6e6;
    background-color: white;
    z-index: 2;
  }
  .mouthhead{
    height: 60rpx;
    background-color: #f5f6fa;
    width: 100%;
    line-height: 60rpx;
    text-align: center;
    font-size: 28rpx;
  }
  .mouth{
  
  }
  
  .daybox{
  
    background-color: white; 
    padding-top: 10rpx;
    padding-bottom: 10rpx;   
  
  }
  .day{
    width: 107rpx;
    height: 120rpx;
    line-height: 120rpx;
    text-align: center;
    display: inline-block;
    position: relative;
    top: 0;
    overflow: hidden;
    color: #000000;
    font-size: 30rpx;
  }
  .todaySty{
    background: #0095ff;
    border-radius: 6rpx;
    color: #fff;
  }
  .day2{
    color: #04babe;
    width: 107rpx;
    height: 107rpx;
    line-height: 107rpx;
    text-align: center;
    display: inline-block;
    position: relative;
    bottom: 0;
    margin-top: 0;
  }
  .actname{
    color: #04babe;
    position: absolute;
    font-size: 20rpx;
    top: -30rpx;
    width: 107rpx;
    text-align: center;
  }
  .actname2{
    color: #04babe;
    position: absolute;
    font-size: 20rpx;
    bottom: -30rpx;
    width: 107rpx;
    text-align: center;
  }
  .bc{
    background-color: #04babe;
    color: white!important;
  }
  .bc2{
    color: white!important;
  }
  .none88{
    height: 88rpx;
    width: 750rpx;
  }
  